/* !Universal! */
.about-text, .main {
    min-height: 100em;
    background-color: rgb(241, 250, 248);
}

.header, .about-video {
    min-height: 100em;
    background-color: rgb(0, 0, 0);
}

/* *Universal* */
/* !Header! */

.header .row {
    min-height: 15em;
}

.header .row .carousel {
    min-height: 30em;
}

.mid {
    min-height: 30em;
}

.item div {
    min-height: 30em;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-text {
    font-size: 9em;
    color: rgb(204, 134, 43);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    z-index: 100;
}

.rgb-header div {
    min-height: 80em;
}

.rgb-r {
    background-color: #EA8A1C;
}

.rgb-b {
    background-color: #0095D7;
}

.rgb-g {
    background-color: #6AC17C;
}

.rgb-y {
    background-color: #FFC607;
}

.text-rgb-r {

    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #EA8A1C,
    1px -1px 0 #EA8A1C,
    -1px 1px 0 #EA8A1C,
    1px 1px 0 #EA8A1C;
    
}

.text-rgb-b {
    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #0095D7,
        1px -1px 0 #0095D7,
        -1px 1px 0 #0095D7,
        1px 1px 0 #0095D7;
}

.text-rgb-g {
    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #6AC17C,
        1px -1px 0 #6AC17C,
        -1px 1px 0 #6AC17C,
        1px 1px 0 #6AC17C;
}

.text-rgb-y {
    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #FFC607,
        1px -1px 0 #FFC607,
        -1px 1px 0 #FFC607,
        1px 1px 0 #FFC607;
}

/* about */
.rgb-about div {
    min-height: 40em;
}

.rgb-about .rgb-b {
 margin-left: 7.2em; 
}

.rgb-about-last .rgb-y{
    min-height: 40em;
    margin-left: 14.4em;
}

.r-box {
    height: 25em;
    width: 42em;
    background-color: #EA8A1C;
    margin-left: 10.5em;
    display: inline-block;
}

.g-box {
    height: 25em;
    width: 42em;
    background-color: #6AC17C;
    margin-left: -23.7em;
    display: inline-block;
}

.b-box {
    height: 25em;
    width: 42em;
    background-color: #0095D7;
    margin-left: 18.5em;
    display: inline-block;
}

.about-vid iframe {
    width: 62em;
    height: 36em;
    border: 2em solid #FFC607;
    margin-left: 44em;
}