/* !Universal! */
.mainBody {
    min-height: 1000em;
    background-image: url(../assets/img/heroPics/Screenshot_2019-05-29\ Portfolio.png);
}

/* *Universal* */
/* !Header! */
.header {
    min-height: 100em;
}

.header h1 {
    font-size: 15em;
    color: white;
    
}